<% @title = "Administrative Dashboard: 2018 Stanford Night Market" %>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-3 offset-lg-1">
			<%= render partial: "shared/admin_nav", locals: { active: "dashboard", isGroup: @isGroup } %>
		</div>
		<div class="col-lg-7">
			<section class="admin-initial-content" id="admin-dashboard">
				<h1>Administrative Dashboard</h1>
				<hr class="full" />
				<h2>Authorized Users</h2>
				<table class="table">
					<thead>
						<tr>
							<th>E-Mail</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
					<% @authorizedUsers.each do |student| %>
						<tr>
							<td><%= student.email %></td>
							<td>
								<% if student.display_role == "Member" %>
									<%= link_to 'Remove User', action: 'remove_authorized_user', id: student.id %>
								<% end %>
							</td>	
						</tr>
					<% end %>
					</tbody>
				</table>
				<h2>Add an authorized user</h2>
				<%= form_for :authorized_student, method: :post, url: { action: :add_new_authorized_user }, html: { role: "form" } do |f| %>
					<div class="form-group row">
			      <label for="input-authorized-student-email" class="col-sm-2 col-form-label">Stanford E-mail</label>
			      <div class="col-sm-10">
			      	<%= f.text_field :email, class: "form-control", id: "input-authorized-student-email", placeholder: "E-mail" %>
			      </div>
			    </div>
			    <div class="form-group row">
			      <div class="offset-sm-2 col-sm-10">
			      	<%= submit_tag "Submit", class: "btn btn-primary" %>
			      </div>
			    </div>
				<% end %>
			</section>
		</div>
	</div>
</div>