<% @title = "2017 Stanford Night Market" %>
<header class="full" id="home">
  <div class="header-content">
    <div class="row">
      <div class="col-xs-10 offset-xs-1">
        <p><%= image_tag "night_market_logo.png", class: "img-fluid", id: "night-market-main-logo", alt: "Stanford Night Market Logo"%></p>
      </div>
    </div>
    <h1 class="display-4">2017 Stanford Night Market</h1>
    <hr class="golden" />
    <h1 class="display-4">Saturday, March 4 • 6 - 8:30pm</h1>
    <p class="button-row"><%= link_to "RSVP on Facebook", "/fb", class: "btn btn-success" %> <%= link_to "Student Booth Registration", {controller: "student", action: "registration" }, class: "btn btn-primary" %> <%= link_to "Vendor Booth Registration", {controller: "vendor", action: "index" }, class: "btn btn-primary" %></p>
  </div>
  <div class="header-footer">
    <% if flash[:error] == "unauthorized_domain" or flash[:error] == "logged_out" %>
      <%= render partial: "shared/centered_alert", locals: {alert_class_name: "alert-danger",
                                                            title: "Whoops!",
                                                            body: "Please log in with a Stanford domain."} %>
    <% elsif flash[:error] == "unauthorized_user" %>
      <%= render partial: "shared/centered_alert", locals: {alert_class_name: "alert-danger",
                                                            title: "Whoops!",
                                                            body: "Please contact the administrator for access!"} %>
    <% end %>
    <div class="white-link"><%= link_to "scroll down for more", "/", id: "index-scroll" %></div>
  </div>
</header>
<section id="home-introduction">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 centered-text">
        <h1>Introducing the Stanford Night Market</h1>
        <hr class="light" />
        <p><strong>Explore. Enjoy. Indulge.</strong> With spring quickly approaching, the Taiwanese Cultural Society is excited to announce the fifteenth annual Stanford Night Market! Take a break to see performances from various student groups, try the games at each booth, and savor the food from all around Asia, from milk tea to bánh mì!</p>
      </div>
    </div>
  </div>
</section>
<section id="home-night-market-testimonial">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 offset-lg-6">
        <blockquote class="blockquote">
          <p class="mb-0">Night market brought the delights of delicious food and culture for everyone to enjoy.</p>
          <footer class="blockquote-footer">Charles Chen, c/o 2014</footer>
        </blockquote>
        <blockquote class="blockquote">
          <p class="mb-0">I always look forward to the exciting food and performances at the Stanford Night Market!</p>
          <footer class="blockquote-footer">Yan Kuang, San Jose</footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>
<section id="home-history">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 centered-text">
        <h1>Join us for an evening of good food and company!</h1>
        <hr class="red"/>
        <p>Every year, we aim to reach out to a larger audience, and we hit more than four thousand visitors for the first time in our 2015 Night Market. We continuously strive to improve your experience at the Stanford Night Market, and we look forward to welcoming you again this year!</p>
      </div>
    </div>
  </div>
</section>
<section id="home-about">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 centered-text">
        <h1>About the Stanford Night Market</h1>
        <hr class="red"/>
        <p><strong>The Stanford Night Market</strong> is a tradition hosted by the Taiwanese Cultural Society at Stanford University since 2001. Originally held inside Tresidder Oak Lounge, the Stanford Night Market grew and evolved over the years to become a prominent event on campus. Today, the Stanford Night Market is held in White Plaza between the Tresidder Student Union and the Post Office. Working with various other clubs on campus such as the Stanford Vietnamese Student Association (SVSA), Asian American Student Association (AASA), the Stanford Chinese Music Ensemble, the Stanford Undergraduate Chinese American Association (UCAA), and more, the Stanford Night Market brings people together for an evening of excitement and fun!</p>
      </div>
    </div>
  </div>
</section>
<section id="home-contact">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 centered-text">
        <h1>Find Us Online</h1>
        <hr class="red"/>
        <p>Check out our <%= link_to "Facebook page", "https://www.facebook.com/TaiwaneseCulturalSociety"%>, or visit us at the <%= link_to "Taiwanese Cultural Society home page", "https://taiwanese.stanford.edu"%>. We look forward to seeing you at the 2017 Stanford Night Market!</p>
        <div class="row">
          <div class="col-lg-4 offset-lg-4">
            <%= link_to "RSVP today on Facebook!", "/fb", class: "btn btn-lg btn-primary btn-block" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>