<hr class="full"/>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-2 col-md-4 offset-lg-1">
			<address class="small">
				<strong>Stanford Night Market</strong><br />
				Stanford Taiwanese Cultural Society<br />
				White Plaza, Stanford University<br />
				519 Lasuen Mall<br />
				Stanford, California 94305
			</address>
		</div>
		<div class="col-lg-2 col-md-4">
			<p class="small"><strong>Navigation</strong><br />
			<%= link_to "Home", controller: "visit", action: "index" %><br />
			<%= link_to "Directions", controller: "visit", action: "directions" %><br />
			<%= link_to "Facebook Event", "/fb" %><br />
			</p>
		</div>
		<div class="col-lg-2 col-md-4">
			<p class="small"><strong>Related Links</strong><br />
			<%= link_to "Stanford Taiwanese Cultural Society", "https://taiwanese.stanford.edu/"%><br />
			<%= link_to "Taiwanese Cultural Society on Facebook", "https://www.facebook.com/TaiwaneseCulturalSociety"%><br />
			<%= link_to "Stanford Asian American Student Association", "http://aasa.stanford.edu/"%><br />
			</p>
		</div>
		<div class="col-lg-2 col-md-4">
			<p class="small">
				<% if current_user %>
					Signed in as <strong><%= current_user.name %></strong>!<br />
					<% if authorized_user %>
						<%= link_to "TCS Core Dashboard", controller: "admin", action: "dashboard"%><br />
					<% else %>
						<%= link_to "Student Group Dashboard", controller: "student", action: "dashboard"%><br />
					<% end %>
					<%= link_to "Sign out", controller: "sessions", action: "destroy"%><br /><br />
				<% else %>
					<%= link_to "Student Login", "/auth/google_oauth2", id: "sign_in" %><br />
				<% end %>
				<%= link_to "Vendor Login", controller: "vendor", action: "login" %>
			</p>
		</div>
	</div>
</div>